<!DOCTYPE html>
<title>P04</title>
<head>
    
</head>
<body>
    Hello, World
    <canvas width="500" height="500" id="playground"></canvas>
    <script src="js/socket.js"></script>
    <script src="js/client.js"></script>
    
</body>