@use 'style' as *;
@use 'sass:color';

#landing-container {
    @include fill-container;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    padding: 0px calc(50px + 8vw);
}

h1 {
    font-size: 6rem;
    margin: 0 0 3rem;
}

.design-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    
    @each $name, $col in $color-list {
        .circle-#{$name} {
            border-radius: 50%;
            background-color: $col;
        }
    }

    .big {
        width: 200px;
        height: 200px;
        animation: float infinite ease 10s .5s forwards;
    }

    .medium {
        width: 150px;
        height: 150px;
        animation: float infinite ease 5s 1s forwards;
    }

    .small {
        width: 100px;
        height: 100px;
        animation: float infinite ease 4s 0s forwards;
    }
}

@keyframes float {
    0% {transform: translateY(0px)}
    50% {transform: translateY(-30px)}
    100% {transform: translateY(0px)}
}