* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
}

.btn-container {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
}
.btn-container .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  width: 150px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: letter-spacing cubic-bezier(0.17, 0.67, 0.72, 1.6) 0.15s, background-color ease-out 0.1s, border-color ease-out 0.1s;
  -moz-transition: letter-spacing cubic-bezier(0.17, 0.67, 0.72, 1.6) 0.15s, background-color ease-out 0.1s, border-color ease-out 0.1s;
  -ms-transition: letter-spacing cubic-bezier(0.17, 0.67, 0.72, 1.6) 0.15s, background-color ease-out 0.1s, border-color ease-out 0.1s;
  -o-transition: letter-spacing cubic-bezier(0.17, 0.67, 0.72, 1.6) 0.15s, background-color ease-out 0.1s, border-color ease-out 0.1s;
  transition: letter-spacing cubic-bezier(0.17, 0.67, 0.72, 1.6) 0.15s, background-color ease-out 0.1s, border-color ease-out 0.1s;
}
.btn-container .btn:hover {
  letter-spacing: 3px;
}
.btn-container .btn-fill-white {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #FFFFFF;
}
.btn-container .btn-fill-white:hover {
  background-color: white;
  border-color: white;
}
.btn-container .btn-outline-white {
  border: 3px solid #FFFFFF;
  color: #FFFFFF;
}
.btn-container .btn-outline-white:hover {
  border-color: white;
  color: white;
}
.btn-container .btn-fill-blue {
  background-color: #2645dd;
  border-color: #2645dd;
  color: #FFFFFF;
}
.btn-container .btn-fill-blue:hover {
  background-color: #516ae4;
  border-color: #516ae4;
}
.btn-container .btn-outline-blue {
  border: 3px solid #2645dd;
  color: #2645dd;
}
.btn-container .btn-outline-blue:hover {
  border-color: #516ae4;
  color: #516ae4;
}
.btn-container .btn-fill-red {
  background-color: #e90000;
  border-color: #e90000;
  color: #FFFFFF;
}
.btn-container .btn-fill-red:hover {
  background-color: #ff2121;
  border-color: #ff2121;
}
.btn-container .btn-outline-red {
  border: 3px solid #e90000;
  color: #e90000;
}
.btn-container .btn-outline-red:hover {
  border-color: #ff2121;
  color: #ff2121;
}
.btn-container .btn-fill-yellow {
  background-color: #f3be00;
  border-color: #f3be00;
  color: #FFFFFF;
}
.btn-container .btn-fill-yellow:hover {
  background-color: #ffd029;
  border-color: #ffd029;
}
.btn-container .btn-outline-yellow {
  border: 3px solid #f3be00;
  color: #f3be00;
}
.btn-container .btn-outline-yellow:hover {
  border-color: #ffd029;
  color: #ffd029;
}
.btn-container .btn-fill-gray {
  background-color: #b4b4b4;
  border-color: #b4b4b4;
  color: #FFFFFF;
}
.btn-container .btn-fill-gray:hover {
  background-color: #c3c3c3;
  border-color: #c3c3c3;
}
.btn-container .btn-outline-gray {
  border: 3px solid #b4b4b4;
  color: #b4b4b4;
}
.btn-container .btn-outline-gray:hover {
  border-color: #c3c3c3;
  color: #c3c3c3;
}
.btn-container .btn-fill-black {
  background-color: #000000;
  border-color: #000000;
  color: #FFFFFF;
}
.btn-container .btn-fill-black:hover {
  background-color: #333333;
  border-color: #333333;
}
.btn-container .btn-outline-black {
  border: 3px solid #000000;
  color: #000000;
}
.btn-container .btn-outline-black:hover {
  border-color: #333333;
  color: #333333;
}

#logister-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  padding: 0px calc(50px + 8vw);
}

.error {
  color: #e90000;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.credential-container {
  display: grid;
  width: calc(300px + 5vw);
  align-items: center;
  grid-template-areas: "icon input";
  grid-template-columns: auto 1fr;
  gap: 16px;
}
.credential-container .credential-icon {
  grid-area: icon;
  height: 22px;
  transition: fill 0.1s ease, transform 0.1s cubic-bezier(0.59, 1.47, 0.88, 1.37);
}
.credential-container .credential-input {
  grid-area: input;
  padding: 10px;
  font-weight: 400;
  border: none;
  border-bottom: 2px solid #000000;
  transition: border-color 0.1s ease;
}
.credential-container .credential-input:focus-visible {
  outline: none;
  border-color: #2645dd;
}
.credential-container .credential-input:focus-visible ~ .credential-icon {
  fill: #2645dd;
  transform: translateX(-5px);
}

h1 {
  font-size: 6rem;
  margin: 0 0 3rem;
}

.design-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.design-panel .circle-white {
  border-radius: 50%;
  background-color: #FFFFFF;
}
.design-panel .circle-blue {
  border-radius: 50%;
  background-color: #2645dd;
}
.design-panel .circle-red {
  border-radius: 50%;
  background-color: #e90000;
}
.design-panel .circle-yellow {
  border-radius: 50%;
  background-color: #f3be00;
}
.design-panel .circle-gray {
  border-radius: 50%;
  background-color: #b4b4b4;
}
.design-panel .circle-black {
  border-radius: 50%;
  background-color: #000000;
}
.design-panel .big {
  width: 200px;
  height: 200px;
  animation: float infinite ease 10s 0.5s forwards;
}
.design-panel .medium {
  width: 150px;
  height: 150px;
  animation: float infinite ease 5s 1s forwards;
}
.design-panel .small {
  width: 100px;
  height: 100px;
  animation: float infinite ease 4s 0s forwards;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*# sourceMappingURL=logister.css.map */
