{% extends "base.html" %}
{% block title %}Untitled Circle Game{% endblock %}

{% block expand_head %}        
<link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
{% endblock %}

{% block content %}
<div id="landing-container">
    <div class="menu-panel">
        <h1>Untitled Circle<br>Game</h1>
        <div class="btn-container">
            <div class="btn btn-fill-blue" onclick="window.location='/login'" >LOGIN</div>
            <div class="btn btn-outline-gray" onclick="window.location='/register'">REGISTER</div>
        </div>
    </div>
    <div class="design-panel">
        <div class="circle-yellow small"></div>
        <div class="circle-red medium"></div>
        <div class="circle-blue big"></div>
    </div>
</div>
{% endblock %}